<div class="modules-sharethis-Sharepage modules-sharethis">
	<ul class="inline-list share-list">
		<li><a rel="nofollow"
			href="#"
			class="link"><img width="16" lang="fr" height="16"
				class="image" alt="" xml:lang="fr"
				src="http://demo.rbschange.fr/publicmedia/formatted/121/76/fr/digg_16x16.png;h=16,w=16.png"></a>
		</li><li>
		<a rel="nofollow"
			href="#"
			class="link"><img width="16" lang="fr" height="16"
				class="image" alt="" xml:lang="fr"
				src="http://demo.rbschange.fr/publicmedia/formatted/121/77/fr/facebook_16x16.png;h=16,w=16.png"></a>
		</li><li>
		<a rel="nofollow"
			href="#"
			class="link"><img width="16" lang="fr" height="16"
				class="image" alt="" xml:lang="fr"
				src="http://demo.rbschange.fr/publicmedia/formatted/121/78/fr/delicious_16x16.png;h=16,w=16.png"></a>
		</li><li>
		<a rel="nofollow"
			href="#"
			class="link"><img width="16" lang="fr" height="16"
				class="image" alt="" xml:lang="fr"
				src="http://demo.rbschange.fr/publicmedia/formatted/121/79/fr/google_16x16.png;h=16,w=16.png"></a>
		</li><li>
		<a rel="nofollow"
			href="#"
			class="link"><img width="16" lang="fr" height="16"
				class="image" alt="" xml:lang="fr"
				src="http://demo.rbschange.fr/publicmedia/formatted/121/80/fr/twitter_16x16.png;h=16,w=16.png"></a>
		</li><li>
		<a rel="nofollow"									
			href="#"
			class="link"><img width="16" lang="fr" height="16"
				class="image" alt="" xml:lang="fr"
				src="http://demo.rbschange.fr/publicmedia/formatted/121/81/fr/favorites_16x16.png;h=16,w=16.png"></a>
		</li><li>
		<a rel="nofollow"
			href="#"
			class="link"><img width="16" lang="fr" height="16"
				class="image" alt="" xml:lang="fr"
				src="http://demo.rbschange.fr/publicmedia/formatted/121/82/fr/print_16x16.png;h=16,w=16.png"></a>
		</li><li>
		<a rel="nofollow"
			href="#"
			class="link"><img width="16" lang="fr" height="16"
				class="image" alt="" xml:lang="fr"
				src="http://demo.rbschange.fr/publicmedia/formatted/121/83/fr/email_16x16.png;h=16,w=16.png"></a>
		</li>
	</ul>
</div>
