.lfr-image-gallery-actions {
	font-size: 11px;
	text-align: right;
}

.portlet-image-gallery-display .lfr-asset-attributes {
	clear: both;
}

.portlet-image-gallery-display .folder-search {
	float: right;
	margin: 0 0 .5em .5em;
}

.portlet-image-gallery-display .image-score {
	display: block;
	margin: 0 0 5px 35px;
	padding-top: 3px;
}

.portlet-image-gallery-display .image-thumbnail {
	border: 2px solid #eee;
	float: left;
	height: 162px;
	margin: 20px 4px 0;
	padding: 5px 5px 0;
	text-align: center;
	text-decoration: none;
	width: 150px;
}

.portlet-image-gallery-display .image-thumbnail:hover {
	border-color: #ccc;
}

.portlet-image-gallery-display .taglib-webdav {
	margin-top: 3em;
}

.portlet-image-gallery-display .image-title {
	display: block;
}