<h1 class="heading-one">Nintendo Entertainment System (NES)</h1>
<dl class="inline-list">
	<dt>Référence</dt>
	<dd>
		NES-1985<span class="separator"> | </span>
	</dd>
	<dt>Marque</dt>
	<dd>
		<a href="#" class="link">Nintendo</a><span class="separator"> |
		</span>
	</dd>
	<dt>Catégorie</dt>
	<dd>
		<a href="#" class="link">Salon</a>
	</dd>
</dl>
<div class="columns">
	<div class="column-66 product-pics">
		<ul class="main-visual">
			<li id="product-visual-13312-12494" style="display: block;"><a
				href="#" class="link" style="cursor: crosshair;"><img lang="fr"
					class="image" alt="" xml:lang="fr"
					src="http://demo.rbschange.fr/publicmedia/formatted/124/94/fr/NES-1985-1.jpg;maxh=405,maxw=540.jpg"></a>
			</li>
			<li id="product-visual-13312-12495" style="display: none;"><a
				href="#" class="link" style="cursor: crosshair;"><img lang="fr"
					class="image" alt="" xml:lang="fr"
					src="http://demo.rbschange.fr/publicmedia/formatted/124/95/fr/NES-1985-2.jpg;maxh=405,maxw=540.jpg"></a>
			</li>
		</ul>
		<ul class="inline-list additionnal-visuals">
			<li title="Cliquer ici pour agrandir l'image"
				id="product-thumbnail-13312-12494"><img lang="fr" class="image"
				alt="" xml:lang="fr"
				src="http://demo.rbschange.fr/publicmedia/formatted/124/94/fr/NES-1985-1.jpg;maxh=60,maxw=80.jpg"></li>
			<li title="Cliquer ici pour agrandir l'image"
				id="product-thumbnail-13312-12495"><img lang="fr" class="image"
				alt="" xml:lang="fr"
				src="http://demo.rbschange.fr/publicmedia/formatted/124/95/fr/NES-1985-2.jpg;maxh=60,maxw=80.jpg"></li>
		</ul>
	</div>
	<div class="column-33">
		<div class="normal availability messages">
			<p class="level">Peu de stock</p>
			<p>Expédié sous 48 heures</p>
		</div>
		<div class="normal product-description">Le Nintendo
			Entertainment System (en français : le système de divertissement de
			Nintendo), ou NES, est une console de jeux vidéo 8 bits du
			constructeur japonais Nintendo sortie ...</div>
		<ul class="main-price normal-margin">
			<li class="price">179,00 € <span class="tax-mode">TTC</span>
			</li>
			<li class="price">149,67 € <span class="tax-mode">HT</span>
			</li>
		</ul>

		<div class="rating normal">
			<ul id="change-starrating-0"
				class="star-rating small-star inline-rating">
				<li class="current-rating rating-60 star">3 étoile(s)</li>
			</ul>
			(<a href="#comments-13312" class="link">3 avis</a>)
		</div>
		<div class="modules-catalog-AddProductToCart modules-catalog">
			<div class="modules-catalog-product">
				<form method="post" action="#" class="cmxform">
					<fieldset>
						<ol>
							<li><label for="product-quantity">Quantité :</label> <input
								type="text" value="1" name="quantity" size="3"
								id="product-quantity" class="textfield"></li>
						</ol>
						<p class="buttons">
							<input type="hidden" name="shopId" value="13159"><input
								type="hidden" name="productId" value="13312"><input
								type="hidden" name="backurl" value="#"><input
								type="submit" title="Ajouter au panier"
								value="Ajouter au panier" class="button primary">
						</p>
					</fieldset>
				</form>
			</div>
		</div>

		<ul class="inline-list normal-margin">
			<li><a href="#" class="link">Ajouter aux favoris</a><span
				class="separator"> | </span></li>
			<li><a href="#" class="link">Ajouter aux comparaisons</a></li>
		</ul>
		<!--$includetemplate$modules$sharethis/templates/Sharethis-Block-Sharepage-Success.all.all.html$-->
		<!--$endincludetemplate$-->
	</div>
</div>