<li class="product-line">
	<ul class="sub-list">
		<!--$beginparam$choice$--><!--$endparam$choice$-->
		<li class="product-visual"><a href="#" class="link"
			title="Voir la fiche de <!--$beginparam$name$-->name<!--$endparam$name$-->"> <img
				lang="fr" class="image" alt="" xml:lang="fr"
				src="<!--$beginparam$image$-->image<!--$endparam$image$-->">
		</a>
			<div class="pictograms-container"></div></li>
		<li class="product-label"><a href="#" class="link"
			title="Voir la fiche de <!--$beginparam$name$-->name<!--$endparam$name$-->">
				<!--$beginparam$name$-->name<!--$endparam$name$-->
		</a></li>
		<li class="product-availability"><!--$beginparam$availability$-->availability<!--$endparam$availability$--></li>
		<li class="product-rating">
			<span>Non noté</span>
		</li>
		
		<li class="product-price"><span class="price"> <!--$beginparam$priceWithoutTaxes$-->priceWithoutTaxes<!--$endparam$priceWithoutTaxes$-->
			€ <span class="tax-mode">HT</span> <!--$beginparam$oldPriceWithoutTaxes$--><!--$endparam$oldPriceWithoutTaxes$-->
		</span></li>
		<li class="product-price"><span class="price"> <!--$beginparam$price$-->price<!--$endparam$price$-->
			€ <span class="tax-mode">TTC</span> <!--$beginparam$oldPrice$--><!--$endparam$oldPrice$-->
		</span></li>
		
		<li class="product-add">
			<button value="1" class="button primary"
				name="catalogParam[addToCart][<!--$beginparam$id$-->id<!--$endparam$id$-->]"
				type="<!--$beginparam$submitType$-->submit<!--$endparam$submitType$-->"
				<!--$beginparam$submitDisabled$--><!--$endparam$submitDisabled$-->><!--$beginparam$submitText$-->Ajouter 
				au panier<!--$endparam$submitText$--></button>
		</li>
	</ul>
</li>