<div class="cLayout">
	<div style="width: 100%" class="cColumn">
		<div class="cRow">
			<div style="width: 100%;" class="cCell">
				<div id="b_10"
					class="empty-cblock modules-ecomextended-ManageFacetsFilter modules-ecomextended"></div>
			</div>
		</div>
		<div class="cRow">
			<div style="width: 100%;" class="cCell">
				<div id="b_11"
					class="cblock modules-ecomextended-ProductList modules-ecomextended">
					<!-- IN -->
					<div class="normal">
						<!--$includetemplate$modules$sharethis/templates/Sharethis-Block-Sharepage-Success.all.all.html$--><!--$endincludetemplate$-->
					</div>
					<h1 class="heading-one" id="product-list-title">Salon</h1>
					<!--$includetemplate$modules$productList/productSearch.html$--><!--$endincludetemplate$-->
					<form method="post" action="#product-list-title" class="cmxform">
						<ul class="product-list">
							<!--$includetemplate$modules$content/productList.html$--><!--$endincludetemplate$-->			
						</ul>
						<div class="cleaner"></div>
						<p class="buttons">
							<input type="hidden" value="productListb_11"
								name="catalogParam[formBlockId]"> <input type="hidden"
								value="13247" name="refererPageId"> Actions sur la
							sélection : <input type="submit" value="Ajouter au panier"
								name="catalogParam[addToCart]" class="button"> <input
								type="submit" value="Ajouter aux favoris"
								name="catalogParam[addToFavorite]" class="button"> <input
								type="submit" value="Ajouter aux comparaisons"
								name="catalogParam[addToComparison]" class="button">
						</p>
					</form>
					<!-- /IN -->
				</div>
			</div>
		</div>
	</div>
</div>