<!--$includetemplate$modules$catalog/templates/Catalog-Block-ProductItem-Short.all.all.html$-->
    <!--$beginput$choice$--><li><label for="catalogParam_selected_product_<!--$beginparam$id$-->id<!--$endparam$id$-->"
			class="option-label"> <input type="checkbox" value="<!--$beginparam$id$-->id<!--$endparam$id$-->"
				name="catalogParam[selected_product][<!--$beginparam$id$-->id<!--$endparam$id$-->]"
				id="catalogParam_selected_product_<!--$beginparam$id$-->id<!--$endparam$id$-->"> Sélectionner
		</label></li><!--$endput$-->
	<!--$beginput$id$--><!--$beginparam$id$--><!--$endparam$id$--><!--$endput$-->
	<!--$beginput$name$--><!--$beginparam$name$--><!--$endparam$name$--><!--$endput$-->
	<!--$beginput$image$--><!--$beginparam$image$--><!--$endparam$image$--><!--$endput$-->
	<!--$beginput$availability$--><!--$beginparam$availability$--><!--$endparam$availability$--><!--$endput$-->
	<!--$beginput$priceWithoutTaxes$--><!--$beginparam$priceWithoutTaxes$--><!--$endparam$priceWithoutTaxes$--><!--$endput$-->
	<!--$beginput$price$--><!--$beginparam$price$--><!--$endparam$price$--><!--$endput$-->							
<!--$endincludetemplate$-->