.portlet-document-library .file-entry-list-description,.portlet-document-library-display .file-entry-list-description {
	font-style: italic;
	margin-left: 10px;
}

.portlet-document-library .file-entry-tags,.portlet-document-library-display .file-entry-tags {
	margin-top: 5px;
}

.portlet-document-library .edit-file-entry-type h3,.portlet-document-library-display .edit-file-entry-type h3 {
	margin: 1em 0 .3em 0;
}

.portlet-document-library .edit-file-entry-type .select-metadata-set,.portlet-document-library-display .edit-file-entry-type .select-metadata-set {
	display: block;
	margin-bottom: 2em;
}

.portlet-document-library .lfr-asset-panels .lfr-panel.lfr-extended,.portlet-document-library-display .lfr-asset-panels .lfr-panel.lfr-extended {
	border-bottom: none;
}

.portlet-document-library .document-container .search-info,.portlet-document-library-display .document-container .search-info {
	background-color: #D3E8F1;
	min-height: 40px;
	position: relative;
}

.portlet-document-library .document-container .search-info .keywords,.portlet-document-library-display .document-container .search-info .keywords {
	float: none;
	font-size: 1.4em;
	font-weight: bold;
	position: absolute;
	top: 7px;
}

.portlet-document-library .document-container .search-info .change-search-folder,.portlet-document-library-display .document-container .search-info .change-search-folder {
	position: absolute;
	right: 60px;
	top: 7px;
}

.portlet-document-library .document-container .search-info .close-search,.portlet-document-library-display .document-container .search-info .close-search {
	position: absolute;
	right: 20px;
	top: 10px;
}

.portlet-document-library .document-container .search-results-container .aui-tabview-list,.portlet-document-library-display .document-container .search-results-container .aui-tabview-list {
	margin-bottom: 0;
}

.portlet-document-library .move-list .move-file,.portlet-document-library .move-list .move-folder,.portlet-document-library-display .move-list .move-file,.portlet-document-library-display .move-list .move-folder
	{
	background: #f0faf0 url() no-repeat 5px 50%;
	border-bottom: 1px solid #CCC;
	display: block;
	font-weight: bold;
	margin-bottom: 1px;
	padding: 5px;
	padding-left: 25px;
	position: relative;
}

.portlet-document-library .move-list .move-file,.portlet-document-library-display .move-list .move-file {
	background-image: url(${theme.current.from.level4.css.path}images/file_system/small/jpg.png);
}

.portlet-document-library .move-list .move-folder,.portlet-document-library-display .move-list .move-folder {
	background-image: url(${theme.current.from.level4.css.path}images/common/folder.png);
}

.portlet-document-library .move-list .move-error,.portlet-document-library-display .move-list .move-error {
	background-color: #FDD;
	background-image: url(${theme.current.from.level4.css.path}images/messages/error.png);
	font-weight: normal;
	opacity: .6;
}

.portlet-document-library .move-list .move-error .error-message,.portlet-document-library-display .move-list .move-error .error-message {
	position: absolute;
	right: 5px;
}

.portlet-document-library .move-list .lfr-component,.portlet-document-library-display .move-list .lfr-component {
	margin: 0;
}

.portlet-document-library .move-list-info,.portlet-document-library-display .move-list-info {
	margin: 5px 0;
}

.portlet-document-library .move-list-info h4,.portlet-document-library-display .move-list-info h4 {
	font-size: 1.3em;
}

.portlet-document-library .document-container,.portlet-document-library-display .document-container {
	overflow: auto;
}

.portlet-document-library .document-container,.portlet-document-library .document-entries-paginator,.portlet-document-library-display .document-container,.portlet-document-library-display .document-entries-paginator
	{
	clear: both;
}

.portlet-document-library .select-documents,.portlet-document-library-display .select-documents {
	border-color: #5F5F5F;
	float: left;
	line-height: 0;
	margin-right: 2px;
	padding: 0;
}

.portlet-document-library .select-documents .aui-field-element,.portlet-document-library-display .select-documents .aui-field-element {
	padding: 5px 4px 4px;
	border: 1px solid #FFF;
	border-color: #F0F1F2 #B2B2B2 #949494 #F0F1F1;
}

.portlet-document-library .select-documents .aui-field-element .aui-field-input-choice,.portlet-document-library-display .select-documents .aui-field-element .aui-field-input-choice {
	margin: 0;
}

.portlet-document-library .folder,.portlet-document-library-display .folder {
	margin-top: 2px;
	position: relative;
}

.portlet-document-library .folder:hover,.portlet-document-library-display .folder:hover {
	background-color: #D3E8F1;
}

.portlet-document-library .folder.error:hover,.portlet-document-library-display .folder.error:hover {
	background-color: #FDD;
}

.portlet-document-library .folder .active-area,.portlet-document-library .folder .active-area.hover,.portlet-document-library-display .folder .active-area,.portlet-document-library-display .folder .active-area.hover
	{
	background-color: #5AD300;
}

.portlet-document-library .expand-folder,.portlet-document-library-display .expand-folder {
	float: right;
}

.portlet-document-library .folder-search,.portlet-document-library-display .folder-search {
	float: right;
	margin: 0 0 .5em .5em;
}

.portlet-document-library img.locked-icon,.portlet-document-library img.shortcut-icon,.portlet-document-library-display img.locked-icon,.portlet-document-library-display img.shortcut-icon {
	bottom: 12px;
	position: absolute;
	right: 0;
	z-index: 10;
}

.portlet-document-library .lfr-menu-list ul,.portlet-document-library-display .lfr-menu-list ul {
	background: #F0F0F0;
	position: relative;
}

.portlet-document-library .lfr-menu-list ul:after,.portlet-document-library-display .lfr-menu-list ul:after {
	border: 10px solid transparent;
	border-bottom-color: #F0F0F0;
	content: '';
	position: absolute;
	right: 5px;
	top: -10px;
}

.portlet-document-library .lfr-actions.lfr-extended .lfr-trigger,.portlet-document-library-display .lfr-actions.lfr-extended .lfr-trigger {
	min-width: auto;
}

.portlet-document-library .lfr-actions.lfr-extended .lfr-trigger strong,.portlet-document-library-display .lfr-actions.lfr-extended .lfr-trigger strong {
	min-width: 10px;
}

.portlet-document-library .lfr-actions.show-arrow.direction-down .lfr-trigger strong a,.portlet-document-library-display .lfr-actions.show-arrow.direction-down .lfr-trigger strong a {
	background: url(${theme.current.from.level4.css.path}images/arrows/08_down.png) 100% -5px no-repeat;
}

.portlet-document-library .document-display-style a,.portlet-document-library-display .document-display-style a {
	color: #333;
}

.portlet-document-library .document-display-style .document-link,.portlet-document-library-display .document-display-style .document-link {
	display: block;
	text-align: center;
	text-decoration: none;
}

.portlet-document-library .document-display-style .document-thumbnail img,.portlet-document-library-display .document-display-style .document-thumbnail img {
	background: #EAEAEA;
	border: 1px solid #CCC;
	margin: 0;
	padding: 5px;
}

.portlet-document-library .document-display-style:hover .document-thumbnail img,.portlet-document-library-display .document-display-style:hover .document-thumbnail img {
	background-color: #B0D2E1;
	border-color: #7ABFDD;
}

.portlet-document-library .document-display-style.selected .document-thumbnail img,.portlet-document-library-display .document-display-style.selected .document-thumbnail img {
	background-color: #B0D2E1;
	border-color: #057CB0;
}

.portlet-document-library .document-display-style.display-descriptive,.portlet-document-library-display .document-display-style.display-descriptive {
	display: block;
	margin: 5px;
	padding: 5px 0;
	padding-left: 20px;
	position: relative;
	text-align: left;
}

.portlet-document-library .document-display-style.display-descriptive:after,.portlet-document-library-display .document-display-style.display-descriptive:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}

.portlet-document-library .document-display-style.display-descriptive .entry-title,.portlet-document-library-display .document-display-style.display-descriptive .entry-title {
	display: block;
	font-size: 1.15em;
	font-weight: bold;
	padding: 5px 0 0;
}

.portlet-document-library .document-display-style.display-descriptive .document-description,.portlet-document-library-display .document-display-style.display-descriptive .document-description {
	display: block;
	height: 100px;
	overflow: hidden;
	word-wrap: break-word;
}

.portlet-document-library .document-display-style.display-descriptive .document-action,.portlet-document-library-display .document-display-style.display-descriptive .document-action {
	height: 20px;
	overflow: hidden;
	position: absolute;
	right: 6px;
	top: 10px;
	width: 22px;
}

.portlet-document-library .document-display-style.display-descriptive .document-selector,.portlet-document-library-display .document-display-style.display-descriptive .document-selector {
	left: 5px;
	position: absolute;
	top: 10px;
}

.portlet-document-library .document-display-style.display-descriptive .document-thumbnail,.portlet-document-library-display .document-display-style.display-descriptive .document-thumbnail {
	float: left;
	margin: 5px 10px 5px 5px;
	position: relative;
	text-align: center;
}

.portlet-document-library .document-display-style.display-descriptive .document-link,.portlet-document-library-display .document-display-style.display-descriptive .document-link {
	display: block;
	text-align: left;
	text-decoration: none;
}

.portlet-document-library .document-display-style.display-descriptive:hover .document-selector,.portlet-document-library .document-display-style.display-descriptive.selected .document-selector,.portlet-document-library-display .document-display-style.display-descriptive:hover .document-selector,.portlet-document-library-display .document-display-style.display-descriptive.selected .document-selector
	{
	clip: rect(auto, auto, auto, auto);
	position: absolute;
}

.portlet-document-library .document-display-style.display-descriptive.selected,.portlet-document-library .document-display-style.display-descriptive .selected:hover,.portlet-document-library-display .document-display-style.display-descriptive.selected,.portlet-document-library-display .document-display-style.display-descriptive .selected:hover
	{
	background-color: #00A2EA;
}

.portlet-document-library .document-display-style.display-icon,.portlet-document-library-display .document-display-style.display-icon {
	display: inline-block;
	float: left;
	margin: 5px;
	padding: 10px 0;
	position: relative;
	vertical-align: top;
	width: 200px;
	height: 160px;
}

.portlet-document-library .document-display-style.display-icon .document-action,.portlet-document-library-display .document-display-style.display-icon .document-action {
	overflow: hidden;
	position: absolute;
	right: 5px;
	width: 22px;
}

.portlet-document-library .document-display-style.display-icon .document-selector,.portlet-document-library-display .document-display-style.display-icon .document-selector {
	left: 10px;
	position: absolute;
	top: 10px;
}

.portlet-document-library .document-display-style.display-icon .document-thumbnail,.portlet-document-library-display .document-display-style.display-icon .document-thumbnail {
	text-align: center;
	position: relative;
}

.portlet-document-library .document-display-style.display-icon .entry-title,.portlet-document-library-display .document-display-style.display-icon .entry-title {
	clear: both;
	display: block;
	padding: 0 10px;
	word-wrap: break-word;
}

.portlet-document-library .document-display-style.display-icon.selected,.portlet-document-library .document-display-style.display-icon.selected:hover,.portlet-document-library-display .document-display-style.display-icon.selected,.portlet-document-library-display .document-display-style.display-icon.selected:hover
	{
	background-color: #00A2EA;
}

.portlet-document-library .document-display-style.display-icon .document-selector,.portlet-document-library .document-display-style.display-icon:hover .document-selector,.portlet-document-library .document-display-style.display-icon.selected .document-selector,.portlet-document-library-display .document-display-style.display-icon .document-selector,.portlet-document-library-display .document-display-style.display-icon:hover .document-selector,.portlet-document-library-display .document-display-style.display-icon.selected .document-selector
	{
	position: absolute;
}

.portlet-document-library .document-display-style .document-action .direction-down,.portlet-document-library-display .document-display-style .document-action .direction-down {
	height: 20px;
}

.portlet-document-library .document-display-style.selected a,.portlet-document-library-display .document-display-style.selected a {
	color: #FFF;
}

.portlet-document-library .document-display-style.active-area,.portlet-document-library .document-display-style.active-area.hover,.portlet-document-library .document-display-style.active-area td,.portlet-document-library-display .document-display-style.active-area,.portlet-document-library-display .document-display-style.active-area.hover,.portlet-document-library-display .document-display-style.active-area td
	{
	background-color: #5AD300;
}

.portlet-document-library .document-display-style .overlay.document-action a,.portlet-document-library-display .document-display-style .overlay.document-action a {
	display: block;
	float: right;
	min-height: 15px;
}

.portlet-document-library .document-display-style:hover,.portlet-document-library .document-display-style.hover,.portlet-document-library-display .document-display-style:hover,.portlet-document-library-display .document-display-style.hover
	{
	background-color: #D3E8F1;
}

.portlet-document-library .document-display-style:hover .overlay,.portlet-document-library .document-display-style.hover .overlay,.portlet-document-library .document-display-style.selected .document-selector,.portlet-document-library-display .document-display-style:hover .overlay,.portlet-document-library-display .document-display-style.hover .overlay,.portlet-document-library-display .document-display-style.selected .document-selector
	{
	clip: rect(auto, auto, auto, auto);
}

.portlet-document-library .folder-display-style li .overlay.document-action,.portlet-document-library-display .folder-display-style li .overlay.document-action {
	display: block;
	height: 16px;
	overflow: hidden;
	position: absolute;
	right: 15px;
	top: 5px;
	width: 25px;
}

.portlet-document-library .folder-display-style li .overlay.document-action a,.portlet-document-library-display .folder-display-style li .overlay.document-action a {
	display: block;
	float: right;
	min-height: 15px;
}

.portlet-document-library .folder-display-style li:hover .overlay,.portlet-document-library .folder-display-style li.hover .overlay,.portlet-document-library-display .folder-display-style li:hover .overlay,.portlet-document-library-display .folder-display-style li.hover .overlay
	{
	clip: rect(auto, auto, auto, auto);
}

.portlet-document-library .body-row li.selected,.portlet-document-library-display .body-row li.selected {
	background-color: #00A2EA;
}

.portlet-document-library .body-row li.selected a,.portlet-document-library-display .body-row li.selected a {
	color: #FFF;
}

.portlet-document-library .taglib-search-iterator .results-header input,.portlet-document-library-display .taglib-search-iterator .results-header input {
	display: none;
}

.portlet-document-library .document-display-style .overlay,.portlet-document-library .lfr-search-container .overlay,.portlet-document-library .folder-display-style li .overlay,.portlet-document-library-display .document-display-style .overlay,.portlet-document-library-display .lfr-search-container .overlay,.portlet-document-library-display .folder-display-style li .overlay
	{
	clip: rect(0, 0, 0, 0);
}

.portlet-document-library .aui-button-holder.toolbar,.portlet-document-library-display .aui-button-holder.toolbar {
	display: inline;
	margin: 0;
}

.portlet-document-library .body-row,.portlet-document-library-display .body-row {
	height: 100%;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.portlet-document-library .body-row ul li a .icon,.portlet-document-library-display .body-row ul li a .icon {
	float: left;
	margin-right: 5px;
}

.portlet-document-library .lfr-header-row .display-style .aui-icon,.portlet-document-library-display .lfr-header-row .display-style .aui-icon {
	background-image: url(${theme.current.from.level4.css.path}images/document_library/layouts.png);
	background-repeat: no-repeat;
}

.portlet-document-library .lfr-header-row .aui-icon-display-list,.portlet-document-library-display .lfr-header-row .aui-icon-display-list {
	background-position: 0 100%;
}

.portlet-document-library .lfr-header-row .aui-icon-display-icon,.portlet-document-library-display .lfr-header-row .aui-icon-display-icon {
	background-position: -16px 0;
}

.portlet-document-library .lfr-header-row .aui-icon-display-descriptive,.portlet-document-library-display .lfr-header-row .aui-icon-display-descriptive {
	background-position: -32px 0;
}

.portlet-document-library .lfr-header-row .aui-state-active .aui-icon-display-icon,.portlet-document-library-display .lfr-header-row .aui-state-active .aui-icon-display-icon {
	background-position: -16px 100%;
}

.portlet-document-library .lfr-header-row .aui-state-active .aui-icon-display-descriptive,.portlet-document-library-display .lfr-header-row .aui-state-active .aui-icon-display-descriptive {
	background-position: -32px 100%;
}

.portlet-document-library .lfr-header-row .lfr-asset-summary,.portlet-document-library-display .lfr-header-row .lfr-asset-summary {
	margin-left: 5px;
}

.portlet-document-library .lfr-header-row .lfr-asset-summary .download-document,.portlet-document-library .lfr-header-row .lfr-asset-summary .conversions,.portlet-document-library .lfr-header-row .lfr-asset-summary .lfr-asset-author,.portlet-document-library .lfr-header-row .lfr-asset-summary .webdav-url,.portlet-document-library-display .lfr-header-row .lfr-asset-summary .download-document,.portlet-document-library-display .lfr-header-row .lfr-asset-summary .conversions,.portlet-document-library-display .lfr-header-row .lfr-asset-summary .lfr-asset-author,.portlet-document-library-display .lfr-header-row .lfr-asset-summary .webdav-url
	{
	display: block;
	margin: .7em 0;
}

.portlet-document-library .lfr-header-row .lfr-asset-summary .download-document,.portlet-document-library-display .lfr-header-row .lfr-asset-summary .download-document {
	margin-top: 1.2em;
}

.portlet-document-library .lfr-header-row .lfr-asset-summary .conversions,.portlet-document-library-display .lfr-header-row .lfr-asset-summary .conversions {
	margin-bottom: 1.2em;
}

.portlet-document-library .lfr-header-row .lfr-asset-summary .version,.portlet-document-library-display .lfr-header-row .lfr-asset-summary .version {
	display: block;
	font-size: 1.4em;
	font-weight: bold;
}

.portlet-document-library .lfr-header-row .aui-icon-delete,.portlet-document-library .lfr-header-row .aui-icon-download,.portlet-document-library .lfr-header-row .aui-icon-edit,.portlet-document-library .lfr-header-row .aui-icon-lock,.portlet-document-library .lfr-header-row .aui-icon-move,.portlet-document-library .lfr-header-row .aui-icon-permissions,.portlet-document-library .lfr-header-row .aui-icon-undo,.portlet-document-library .lfr-header-row .aui-icon-unlock,.portlet-document-library-display .lfr-header-row .aui-icon-delete,.portlet-document-library-display .lfr-header-row .aui-icon-download,.portlet-document-library-display .lfr-header-row .aui-icon-edit,.portlet-document-library-display .lfr-header-row .aui-icon-lock,.portlet-document-library-display .lfr-header-row .aui-icon-move,.portlet-document-library-display .lfr-header-row .aui-icon-permissions,.portlet-document-library-display .lfr-header-row .aui-icon-undo,.portlet-document-library-display .lfr-header-row .aui-icon-unlock
	{
	background: url() no-repeat 0 0;
}

.portlet-document-library .lfr-header-row .aui-icon-delete,.portlet-document-library-display .lfr-header-row .aui-icon-delete {
	background-image: url(${theme.current.from.level4.css.path}images/common/delete.png);
}

.portlet-document-library .lfr-header-row .aui-icon-download,.portlet-document-library-display .lfr-header-row .aui-icon-download {
	background-image: url(${theme.current.from.level4.css.path}images/common/download.png);
}

.portlet-document-library .lfr-header-row .aui-icon-edit,.portlet-document-library-display .lfr-header-row .aui-icon-edit {
	background-image: url(${theme.current.from.level4.css.path}images/common/edit.png);
}

.portlet-document-library .lfr-header-row .aui-icon-lock,.portlet-document-library-display .lfr-header-row .aui-icon-lock {
	background-image: url(${theme.current.from.level4.css.path}images/common/lock.png);
}

.portlet-document-library .lfr-header-row .aui-icon-move,.portlet-document-library-display .lfr-header-row .aui-icon-move {
	background-image: url(${theme.current.from.level4.css.path}images/common/submit.png);
}

.portlet-document-library .lfr-header-row .aui-icon-permissions,.portlet-document-library-display .lfr-header-row .aui-icon-permissions {
	background-image: url(${theme.current.from.level4.css.path}images/common/permissions.png);
}

.portlet-document-library .lfr-header-row .aui-icon-undo,.portlet-document-library-display .lfr-header-row .aui-icon-undo {
	background-image: url(${theme.current.from.level4.css.path}images/common/undo.png);
}

.portlet-document-library .lfr-header-row .aui-icon-unlock,.portlet-document-library-display .lfr-header-row .aui-icon-unlock {
	background-image: url(${theme.current.from.level4.css.path}images/common/unlock.png);
}

.portlet-document-library .lfr-header-row-content,.portlet-document-library-display .lfr-header-row-content {
	position: relative;
}

.portlet-document-library .lfr-header-row-content .toolbar,.portlet-document-library .lfr-header-row-content .add-button,.portlet-document-library-display .lfr-header-row-content .toolbar,.portlet-document-library-display .lfr-header-row-content .add-button
	{
	float: left;
}

.portlet-document-library .lfr-header-row-content .display-style,.portlet-document-library-display .lfr-header-row-content .display-style {
	float: right;
}

.portlet-document-library .lfr-header-row-content .edit-toolbar,.portlet-document-library-display .lfr-header-row-content .edit-toolbar {
	margin: 0;
}

.portlet-document-library .lfr-header-row-content .parent-folder-title,.portlet-document-library-display .lfr-header-row-content .parent-folder-title {
	color: #FFF;
	font-weight: bold;
	padding: 6px 10px 6px 25px;
	text-shadow: -1px -1px #505050;
}

.portlet-document-library .lfr-app-column-view .portlet-msg-info,.portlet-document-library .lfr-app-column-view .portlet-msg-success,.portlet-document-library-display .lfr-app-column-view .portlet-msg-info,.portlet-document-library-display .lfr-app-column-view .portlet-msg-success
	{
	border-width: 0 0 1px;
	margin: 0 auto;
}

.portlet-document-library .lfr-app-column-view .sync-notification,.portlet-document-library-display .lfr-app-column-view .sync-notification {
	border-top-width: 1px;
}

.portlet-document-library .lfr-app-column-view .lfr-app-column-view-content,.portlet-document-library-display .lfr-app-column-view .lfr-app-column-view-content {
	background-color: #FAFAFA;
}

.portlet-document-library .context-pane,.portlet-document-library-display .context-pane {
	overflow: hidden;
}

.portlet-document-library .context-pane .context-pane-content,.portlet-document-library-display .context-pane .context-pane-content {
	border-left: 1px solid #7B7B7B;
	position: relative;
}

.portlet-document-library .taglib-search-iterator-page-iterator-top,.portlet-document-library .taglib-search-iterator-page-iterator-bottom,.portlet-document-library .aui-paginator-container,.portlet-document-library .document-library-breadcrumb,.portlet-document-library-display .taglib-search-iterator-page-iterator-top,.portlet-document-library-display .taglib-search-iterator-page-iterator-bottom,.portlet-document-library-display .aui-paginator-container,.portlet-document-library-display .document-library-breadcrumb
	{
	background: #d9d9d9 url(${theme.current.from.level4.css.path}images/application/subheader_bg.png) 0 0 repeat-x;
	clear: both;
	padding: 5px;
	position: relative;
}

.portlet-document-library .taglib-search-iterator-page-iterator-top,.portlet-document-library .taglib-search-iterator-page-iterator-bottom,.portlet-document-library .aui-paginator-container,.portlet-document-library-display .taglib-search-iterator-page-iterator-top,.portlet-document-library-display .taglib-search-iterator-page-iterator-bottom,.portlet-document-library-display .aui-paginator-container
	{
	text-align: center;
}

.portlet-document-library .taglib-search-iterator-page-iterator-top.page-iterator-bottom,.portlet-document-library .lfr-app-column-view .taglib-search-iterator-page-iterator-bottom,.portlet-document-library-display .taglib-search-iterator-page-iterator-top.page-iterator-bottom,.portlet-document-library-display .lfr-app-column-view .taglib-search-iterator-page-iterator-bottom
	{
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
}

.portlet-document-library .taglib-search-iterator,.portlet-document-library-display .taglib-search-iterator {
	table-layout: fixed;
}

.portlet-document-library .taglib-search-iterator .align-left,.portlet-document-library-display .taglib-search-iterator .align-left {
	word-wrap: break-word;
}

.portlet-document-library .taglib-webdav,.portlet-document-library-display .taglib-webdav {
	margin-top: 3em;
}

.portlet-document-library .taglib-workflow-status,.portlet-document-library-display .taglib-workflow-status {
	margin-bottom: 5px;
}

.portlet-document-library .workflow-status-draft,.portlet-document-library .workflow-status-draft a,.portlet-document-library-display .workflow-status-draft,.portlet-document-library-display .workflow-status-draft a
	{
	color: blue;
}

.portlet-document-library .workflow-status-pending,.portlet-document-library .workflow-status-pending a,.portlet-document-library-display .workflow-status-pending,.portlet-document-library-display .workflow-status-pending a
	{
	color: orange;
}

.portlet-document-library .document-library-breadcrumb,.portlet-document-library-display .document-library-breadcrumb {
	background-color: #EBEBEB;
	background-image: url(${theme.current.from.level4.css.path}images/application/button_bg_selected.png);
}

.portlet-document-library .document-library-breadcrumb ul,.portlet-document-library-display .document-library-breadcrumb ul {
	margin-bottom: 0;
}

.portlet-document-library .lfr-list-view-content ul .expand-folder,.portlet-document-library-display .lfr-list-view-content ul .expand-folder {
	height: 10px;
	overflow: hidden;
	padding-left: 5px;
	padding-right: 5px;
	position: absolute;
	right: 0;
	top: 5px;
	width: 10px;
}

.portlet-document-library .lfr-list-view-content ul .expand-folder .expand-folder-arrow,.portlet-document-library-display .lfr-list-view-content ul .expand-folder .expand-folder-arrow {
	left: 2px;
	position: absolute;
	top: 1px;
}

.portlet-document-library .lfr-list-view-content li a,.portlet-document-library .lfr-list-view-content li.folder.error,.portlet-document-library-display .lfr-list-view-content li a,.portlet-document-library-display .lfr-list-view-content li.folder.error
	{
	display: block;
	padding: 6px 8px;
}

.portlet-document-library .lfr-list-view-content ul li a,.portlet-document-library .lfr-list-view-content ul li.folder.error,.portlet-document-library-display .lfr-list-view-content ul li a,.portlet-document-library-display .lfr-list-view-content ul li.folder.error
	{
	color: #34404F;
	text-decoration: none;
}

.portlet-document-library .lfr-list-view-content li.selected,.portlet-document-library-display .lfr-list-view-content li.selected {
	background-color: #00a2ea;
}

.portlet-document-library .lfr-list-view-content li.selected a,.portlet-document-library-display .lfr-list-view-content li.selected a {
	font-weight: bold;
}

.portlet-document-library .lfr-list-view-data-container,.portlet-document-library-display .lfr-list-view-data-container {
	background-color: #FAFAFA;
	height: 100%;
	position: absolute;
	width: 100%;
	z-index: 9999;
}

.portlet-document-library .document-info,.portlet-document-library-display .document-info {
	background: #D2DDE7;
	border-bottom: 1px solid #6D6D6E;
	padding: 10px;
}

.portlet-document-library .document-info:after,.portlet-document-library-display .document-info:after {
	clear: both;
	content: "";
	display: block;
	height: 0;
}

.portlet-document-library .document-info .document-title,.portlet-document-library-display .document-info .document-title {
	margin: 0 0 10px;
	text-shadow: 1px 1px #FFF;
}

.portlet-document-library .document-info .user-date,.portlet-document-library .document-info .taglib-asset-tags-summary,.portlet-document-library-display .document-info .user-date,.portlet-document-library-display .document-info .taglib-asset-tags-summary
	{
	font-weight: bold;
}

.portlet-document-library .document-info .document-description,.portlet-document-library-display .document-info .document-description {
	margin: 8px 0;
	display: block;
}

.portlet-document-library .document-info .document-thumbnail,.portlet-document-library-display .document-info .document-thumbnail {
	float: left;
	margin: 0 10px 0 0;
}

.portlet-document-library .document-info .clear,.portlet-document-library-display .document-info .clear {
	clear: both;
}

.portlet-document-library .asset-details h3.version,.portlet-document-library-display .asset-details h3.version {
	margin: 0 0 10px;
}

.portlet-document-library .asset-details .taglib-custom-attributes-list,.portlet-document-library-display .asset-details .taglib-custom-attributes-list {
	margin-bottom: 0;
}

.portlet-document-library .asset-details .asset-details-content,.portlet-document-library-display .asset-details .asset-details-content {
	padding: 10px;
}

.portlet-document-library .asset-details .asset-details-content .taglib-workflow-status,.portlet-document-library-display .asset-details .asset-details-content .taglib-workflow-status {
	margin: 0;
}

.portlet-document-library .asset-details .asset-details-content .lfr-asset-icon,.portlet-document-library-display .asset-details .asset-details-content .lfr-asset-icon {
	background-position: 0 2px;
	background-repeat: no-repeat;
	border-right-width: 0;
	float: none;
	padding: 2px 0 2px 20px;
}

.portlet-document-library .asset-details .asset-details-content .lfr-asset-author,.portlet-document-library-display .asset-details .asset-details-content .lfr-asset-author {
	background-image: url(${theme.current.from.level4.css.path}images/portlet/edit_defaults.png);
}

.portlet-document-library .asset-details .asset-details-content .lfr-asset-downloads,.portlet-document-library-display .asset-details .asset-details-content .lfr-asset-downloads {
	background-image: url(${theme.current.from.level4.css.path}images/common/download.png);
}

.portlet-document-library .asset-details .asset-details-content .lfr-asset-ratings,.portlet-document-library-display .asset-details .asset-details-content .lfr-asset-ratings {
	margin: 0 0 1em;
}

.portlet-document-library .taglib-discussion,.portlet-document-library-display .taglib-discussion {
	width: 90%;
	margin: 0 auto;
}

.portlet-document-library .lfr-document-library-comments.lfr-panel.lfr-extended,.portlet-document-library-display .lfr-document-library-comments.lfr-panel.lfr-extended {
	background: #FFF;
	border-width: 0;
	border-right: 1px solid #CCC;
	margin-bottom: 0;
}

.portlet-document-library .lfr-document-library-comments.lfr-panel.lfr-extended .lfr-panel-titlebar,.portlet-document-library-display .lfr-document-library-comments.lfr-panel.lfr-extended .lfr-panel-titlebar
	{
	margin-top: 0;
}

.portlet-document-library .version.document-locked,.portlet-document-library-display .version.document-locked {
	background: url(${theme.current.from.level4.css.path}images/common/lock.png) no-repeat 0 50%;
	padding-left: 20px;
}

.portlet-document-library .common-file-metadata-container,.portlet-document-library-display .common-file-metadata-container {
	padding: 1em;
}

.portlet-document-library .common-file-metadata-container .aui-field-element,.portlet-document-library-display .common-file-metadata-container .aui-field-element {
	display: block;
}

.portlet-document-library .common-file-metadata-container .aui-field-element textarea,.portlet-document-library-display .common-file-metadata-container .aui-field-element textarea {
	width: 100% !important;
}

.portlet-document-library .common-file-metadata-container.selected,.portlet-document-library-display .common-file-metadata-container.selected {
	background-color: #D3E8F1;
}

.portlet-document-library .common-file-metadata-container .selected-files-count,.portlet-document-library-display .common-file-metadata-container .selected-files-count {
	border-bottom: 1px solid #C8C9CA;
	color: #555;
	font-size: 1.8em;
	font-weight: bold;
	margin-bottom: 10px;
	overflow: hidden;
}

.portlet-document-library .common-file-metadata-container .document-type .lfr-panel-content,.portlet-document-library-display .common-file-metadata-container .document-type .lfr-panel-content {
	min-height: 35px;
}

.portlet-document-library .common-file-metadata-container .document-type-fields,.portlet-document-library-display .common-file-metadata-container .document-type-fields {
	clear: left;
	padding-top: .5em;
}

.portlet-document-library .common-file-metadata-container .categorization-panel,.portlet-document-library-display .common-file-metadata-container .categorization-panel {
	clear: left;
}

.portlet-document-library .taglib-ratings.stars,.portlet-document-library-display .taglib-ratings.stars {
	border: 1px solid transparent;
	display: inline-block;
	margin: 0 3px;
	padding: 4px;
	position: relative;
	vertical-align: middle;
}

.portlet-document-library .taglib-ratings.stars .liferay-rating-vote,.portlet-document-library-display .taglib-ratings.stars .liferay-rating-vote {
	display: none;
	left: -1px;
	padding: 4px;
	position: absolute;
	right: -1px;
	top: -1px;
}

.portlet-document-library .taglib-ratings.stars:hover,.portlet-document-library .taglib-ratings.stars:hover .liferay-rating-vote,.portlet-document-library-display .taglib-ratings.stars:hover,.portlet-document-library-display .taglib-ratings.stars:hover .liferay-rating-vote
	{
	background: #B0D3F6;
	border: 1px solid #3F6F9F;
}

.portlet-document-library .taglib-ratings.stars:hover .liferay-rating-vote,.portlet-document-library-display .taglib-ratings.stars:hover .liferay-rating-vote {
	display: block;
}

.portlet-document-library .taglib-ratings.stars .aui-rating-content,.portlet-document-library .taglib-ratings.stars .aui-rating-label-element,.portlet-document-library-display .taglib-ratings.stars .aui-rating-content,.portlet-document-library-display .taglib-ratings.stars .aui-rating-label-element
	{
	display: inline;
}

.portlet-document-library .taglib-ratings.stars .aui-rating-label-element,.portlet-document-library-display .taglib-ratings.stars .aui-rating-label-element {
	color: #555;
	font-size: .9em;
	margin-left: .5em;
}

.portlet-document-library .taglib-ratings.stars .liferay-rating-score,.portlet-document-library-display .taglib-ratings.stars .liferay-rating-score {
	padding-left: 0;
}

.portlet-document-library .lfr-asset-column-details .lfr-panel {
	margin-bottom: .5em;
	padding-bottom: 0;
}

.portlet-document-library .lfr-asset-column-details .lfr-panel.lfr-collapsed {
	margin-bottom: 0;
}

.portlet-document-library .lfr-asset-column-details .lfr-panel.lfr-collapsed .lfr-panel-titlebar {
	border-bottom-width: 0;
}

.active-area-proxy {
	background: #ffffe0 url(${theme.current.from.level4.css.path}images/portlet/pop_up.png) no-repeat 10px 50%;
	font-size: 1.2em;
	padding: .3em .3em .3em 2em;
}

.ie6 .portlet-document-library .lfr-header-row .lfr-header-row-content .toolbar {
	position: relative;
}

.ie6 .portlet-document-library .lfr-header-row .lfr-header-row-content .toolbar .aui-field-choice {
	width: 24px;
}

.ie6 .portlet-document-library .lfr-header-row .lfr-header-row-content .display-style {
	position: relative;
}

.ie6 .portlet-document-library .lfr-header-row .lfr-header-row-content .lfr-search-combobox {
	width: 250px;
}

.ie6 .portlet-document-library .lfr-header-row .lfr-header-row-content .lfr-search-combobox .aui-field-input-text {
	width: 95%;
}