<li class="<!--$beginparam$oddeven$-->odd<!--$endparam$oddeven$-->" id="comment-<!--$beginparam$id$--><!--$endparam$id$-->">
	<div class="normal meta-info">
		<a href="#" class="link" rel="nofollow"><!--$beginparam$id$--><!--$endparam$id$-->.</a>
		<ul id="change-starrating-1"
			class="star-rating small-star inline-rating">
			<!--$beginparam$rating$--><!--$endparam$rating$-->
		</ul>
		Écrit par <!--$beginparam$author$--><!--$endparam$author$--><span class="separator"> - </span><!--$beginparam$day$-->30/01/2013 16:20<!--$endparam$day$-->
	</div>
	<div class="normal comment-contents">
		<div class="bbcode default"><!--$beginparam$content$--><!--$endparam$content$--></div>
	</div>
	<p class="normal evaluation-overview">Soyez le premier à évaluer ce
		commentaire.</p>
	<form class="normal-margin comment-evaluation change-form"
		enctype="multipart/form-data" id="catalog_commentsb_16_evaluate_<!--$beginparam$id$--><!--$endparam$id$-->"
		action="#comment-<!--$beginparam$id$--><!--$endparam$id$-->" method="post">
		<div style="display: none;">
			<input type="hidden" value="evaluate_<!--$beginparam$id$--><!--$endparam$id$-->"
				name="catalogParam[website_FormHelper_relkey]">
		</div>
		<div>
			<input type="hidden"
				id="catalog_commentsb_16_evaluate_<!--$beginparam$id$--><!--$endparam$id$-->_commentId" value="<!--$beginparam$id$--><!--$endparam$id$-->"
				name="catalogParam[commentId]"> <span>Ce commentaire
				vous a-t-il été utile ?</span> <input type="submit" class="button"
				value="Oui" id="catalog_commentsb_16_evaluate_<!--$beginparam$id$--><!--$endparam$id$-->_rateUseful"
				name="catalogParam[website_BlockAction_submit][commentsb_16][rateUseful]">
			<input type="submit" class="button" value="Non"
				id="catalog_commentsb_16_evaluate_<!--$beginparam$id$--><!--$endparam$id$-->_rateUseless"
				name="catalogParam[website_BlockAction_submit][commentsb_16][rateUseless]">
		</div>
	</form>
	<div class="cleaner"></div>
</li>