<form class="cmxform change-form" enctype="multipart/form-data"
					id="catalog_commentsb_16_comment-form" action="#" method="post">
					<input type="hidden" value="0" name="catalogParam[rating]">
					<div style="display: none;">
						<input type="hidden" value="comment-form"
							name="catalogParam[website_FormHelper_relkey]">
					</div>
					<fieldset>
						<legend class="h-3">Saisie du commentaire</legend>
						<ol>
							<li><label class="textfield required"
								for="catalog_commentsb_16_comment-form_authorName"> <em
									title="(Ce champ est obligatoire)" class="requiredsymbol">*</em>
									Nom ou pseudonyme :
							</label> <input type="text" title="nom ou pseudonyme" value=""
								id="catalog_commentsb_16_comment-form_authorName"
								class="textfield" name="catalogParam[authorName]"></li>
							<li><label class="textfield required"
								for="catalog_commentsb_16_comment-form_email"> <em
									title="(Ce champ est obligatoire)" class="requiredsymbol">*</em>
									Adresse e-mail :
							</label> <input type="text" title="adresse e-mail" value=""
								id="catalog_commentsb_16_comment-form_email" class="textfield"
								name="catalogParam[email]" autocapitalize="off"
								autocorrect="off"></li>
							<li><label class="textfield"
								for="catalog_commentsb_16_comment-form_authorwebsiteurl">Site
									web de l'auteur :</label> <input type="text"
								title="URL du site web de l'auteur" value=""
								id="catalog_commentsb_16_comment-form_authorwebsiteurl"
								class="textfield" name="catalogParam[authorwebsiteurl]"
								autocapitalize="off" autocorrect="off"></li>
							<li><label for="catalog_commentsb_16_comment-form_rating">Note
									:</label>
								<ul id="change-starrating-4"
									class="star-rating accessible-hidden inline-rating"
									style="display: block;">
									<li class="current-rating rating-0 star">0 étoile(s)</li>
									<li class="star"><a class="one-star" title="1 étoile"
										href="#4">1</a></li>
									<li class="star"><a class="two-stars" title="2 étoiles"
										href="#4">2</a></li>
									<li class="star"><a class="three-stars" title="3 étoiles"
										href="#4">3</a></li>
									<li class="star"><a class="four-stars" title="4 étoiles"
										href="#4">4</a></li>
									<li class="star"><a class="five-stars" title="5 étoiles"
										href="#4">5</a></li>
								</ul></li>
							<li><label class="required"
								for="catalog_commentsb_16_comment-form_contentsAsBBCode"
								style="height: 163px;"> <em
									title="(Ce champ est obligatoire)" class="requiredsymbol">*</em>
									Commentaire :
							</label>
								<div class="BBCodeEditor" title=""
									id="catalog_commentsb_16_comment-form_contentsAsBBCode">
									<div class="BBCodeEditor-toolBar">
										<ul>
											<li class="button BBCodeEditor-button1"><a title="Gras"
												href=""><img alt="Gras"
													src="./v1/img/rbs-base/bold.png"></a>
											</li><li class="button BBCodeEditor-button2">
											<a
												title="Italique" href=""><img alt="Italique"
													src="./v1/img/rbs-base/italic.png"></a>
											</li><li class="button BBCodeEditor-button3">
											<a
												title="Souligner" href=""><img alt="Souligner"
													src="./v1/img/rbs-base/underline.png"></a>
</li><li class="button BBCodeEditor-button4"><a
												title="Barrer" href=""><img alt="Barrer"
													src="./v1/img/rbs-base/strike.png"></a>
</li><li class="button BBCodeEditor-button5"><a
												title="Exposant" href=""><img alt="Exposant"
													src="./v1/img/rbs-base/superscript.png"></a>
</li><li class="button BBCodeEditor-button6"><a
												title="Indice" href=""><img alt="Indice"
													src="./v1/img/rbs-base/subscript.png"></a>
</li><li class="button BBCodeEditor-button7"><a
												title="Abréviation" href=""><img alt="Abréviation"
													src="./v1/img/rbs-base/abbreviation.png"></a>
</li><li class="button BBCodeEditor-button8"><a title="Grand"
												href=""><img alt="Grand"
													src="./v1/img/rbs-base/big.png"></a>
</li><li class="button BBCodeEditor-button9"><a title="Petit"
												href=""><img alt="Petit"
													src="./v1/img/rbs-base/small.png"></a>
</li><li class="button BBCodeEditor-button10"><a
												title="Aligner à gauche" href=""><img
													alt="Aligner à gauche"
													src="./v1/img/rbs-base/align-left.png"></a>
</li><li class="button BBCodeEditor-button11"><a
												title="Justifier" href=""><img alt="Justifier"
													src="./v1/img/rbs-base/align-justify.png"></a>
</li><li class="button BBCodeEditor-button12"><a
												title="Center" href=""><img alt="Center"
													src="./v1/img/rbs-base/align-center.png"></a>
</li><li class="button BBCodeEditor-button13"><a
												title="Aligner à droite" href=""><img
													alt="Aligner à droite"
													src="./v1/img/rbs-base/align-right.png"></a>
</li><li class="button BBCodeEditor-button14"><a
												title="Liste" href=""><img alt="Liste"
													src="./v1/img/rbs-base/unordered-list.png"></a>
</li><li class="button BBCodeEditor-button15"><a
												title="Élément de liste" href=""><img
													alt="Élément de liste"
													src="./v1/img/rbs-base/list-item.png"></a>
</li><li class="button BBCodeEditor-button16"><a
												title="Citer" href=""><img alt="Citer"
													src="./v1/img/rbs-base/quote.png"></a>
</li><li class="button BBCodeEditor-button17"><a title="Code"
												href=""><img alt="Code"
													src="./v1/img/rbs-base/code.png"></a>
</li><li class="button BBCodeEditor-button18"><a
												title="Portion sans traduction des BBCodes" href=""><img
													alt="Portion sans traduction des BBCodes"
													src="./v1/img/rbs-base/no-bb.png"></a>
</li><li class="button BBCodeEditor-button19"><a title="Lien"
												href=""><img alt="Lien"
													src="./v1/img/rbs-base/link.png"></a>
</li><li class="button BBCodeEditor-button20"><a
												title="Lien vers un document du site" href=""><img
													alt="Lien vers un document du site"
													src="./v1/img/rbs-base/document-link.png"></a>
</li><li class="button BBCodeEditor-button21"><a
												title="Image" href=""><img alt="Image"
													src="./v1/img/rbs-base/photo.png"></a>
</li><li class="button BBCodeEditor-button22"><a
												title="Séparation horizontale" href=""><img
													alt="Séparation horizontale"
													src="./v1/img/rbs-base/rule.png"></a>
</li><li class="button BBCodeEditor-button23"><a
												title="Couleur" href=""><img alt="Couleur"
													src="./v1/img/rbs-base/color.png"></a></li>
										</ul>
									</div>
									<textarea cols="60" rows="10" data-profile="default"
										class="BBCodeEditor-editor"
										id="catalog_commentsb_16_comment-form_contentsAsBBCode"
										name="catalogParam[contentsAsBBCode]"></textarea>
									<div class="BBCodeEditor-resizeHandle"
										style="width: 570px; left: 313.6px;"></div>
								</div></li>
							<li><span class="captcha"><img
									onclick="CAPTCHA.reload(this, 'http://demo.rbschange.fr/fr/action/form/Captcha?fd=3&amp;formParam%5Bfd%5D=3&amp;formParam%5Bfs%5D=20&amp;formParam%5Bih%5D=40&amp;formParam%5Biw%5D=130&amp;formParam%5Bkey%5D=comment&amp;formParam%5Bml%5D=5&amp;fs=20&amp;ih=40&amp;iw=130&amp;key=comment&amp;ml=5'); return false;"
									title="Code de sécurité : cliquer pour en avoir un autre"
									src="./content/Captcha.png"></span>
								<input type="text"
								title="Veuillez recopier le code de sécurité de l'image ci-contre dans la zone de saisie"
								size="7" maxlength="7" name="formParam[CHANGE_CAPTCHA]"
								class="textfield"></li>
						</ol>
						<p class="buttons">
							<input type="hidden"
								id="catalog_commentsb_16_comment-form_beanId" value="-1"
								name="catalogParam[beanId]"> <input type="hidden"
								id="catalog_commentsb_16_comment-form_targetId"
								name="catalogParam[targetId]" value="13312"> <input
								type="submit" value="Enregistrer"
								id="catalog_commentsb_16_comment-form_save"
								class="button submit"
								name="catalogParam[website_BlockAction_submit][commentsb_16][save]">
							<input type="submit" value="Prévisualiser"
								id="catalog_commentsb_16_comment-form_preview"
								class="button submit"
								name="catalogParam[website_BlockAction_submit][commentsb_16][preview]">
						</p>
					</fieldset>
				</form>