.portlet-login .aui-form fieldset {
	border-width: 0;
	margin-bottom: 0;
	padding: 0;
}

.portlet-login .aui-form .aui-button-holder,.portlet-login .aui-form .aui-form-column {
	margin-bottom: 10px;
}

.portlet-login .facebook-login-button .aui-button-content {
	background: url(${theme.current.from.level4.css.path}images/login/facebook_login_button.png) no-repeat scroll 0 50%;
	padding: 5px 5px 5px 30px;
}

.portlet-login .facebook-login-button .aui-button-input {
	background: transparent none;
	border-width: 0;
	color: #FFF;
	font-family: "lucida grande", Tahoma, Verdana, Arial, sans-serif;
	padding: 0;
	text-shadow: none;
}

.portlet-login .navigation {
	background: #eee;
	border-top: 1px solid #BFBFBF;
	padding: 10px;
}