.portlet-calendar .calendar-container {
	background: white url(${theme.current.from.level4.css.path}images/calendar/calendar_day_drop_shadow.png) repeat-x 0 99%;
	border: 1px solid #D7D7D7;
	width: 400px;
}

.portlet-calendar .calendar {
	width: 100%;
}

.portlet-calendar .calendar td {
	border: 1px solid #ccc;
	padding: 5px;
}

.portlet-calendar .calendar td td {
	border-width: 0;
	padding: 0;
}

.portlet-calendar .calendar-day {
	float: left;
	text-align: center;
	width: 209px;
}

.portlet-calendar .calendar-day .day-text {
	background: #727C81;
	color: #fff;
	font-size: 1.6em;
	font-weight: bold;
	margin: 0;
	padding: .5em 0;
}

.portlet-calendar .calendar-day .day-number {
	border: 1px solid #fff;
	border-bottom-width: 0;
	font-size: 110px;
	font-weight: normal;
	line-height: 1.2;
	margin: 0;
	padding-bottom: 5px;
	vertical-align: middle;
}

.portlet-calendar .taglib-calendar {
	border-color: #999;
	margin-bottom: 1.5em;
	width: 190px;
}

.portlet-calendar .calendar-container .taglib-calendar {
	background: #fff;
	border-left: 1px solid #D7D7D7;
	clear: none;
	float: right;
	margin-bottom: 0;
	margin-left: -1px;
	padding-left: 0;
}

.portlet-calendar .calendar-container .taglib-calendar table {
	border-width: 0;
}

.portlet-calendar .calendar-inactive {
	color: #999;
}

.portlet-calendar .calendar-current-day a {
	color: #fff;
	font-weight: bold;
	text-decoration: none;
}

.portlet-calendar .taglib-calendar table .first {
	border-left-width: 0;
}

.portlet-calendar .taglib-calendar table .last {
	border-right-width: 0;
}

.portlet-calendar .taglib-calendar tr td.calendar-current-day a:hover,.portlet-calendar .taglib-calendar tr td.calendar-current-day a:focus {
	background-color: #DFF4FF;
	border-color: #AEB8BC;
	color: #06c;
}

.portlet-calendar .taglib-calendar tr td.calendar-current-day a span {
	border-width: 0;
}

.portlet-calendar .has-events a span {
	background: url(${theme.current.from.level4.css.path}images/calendar/event_indicator.png) no-repeat 50% 95%;
	padding-bottom: 5px;
}

.portlet-calendar .has-events.calendar-current-day a span {
	background-image: url(${theme.current.from.level4.css.path}images/calendar/event_indicator_current.png);
}

.portlet-calendar .day-grid {
	border-top: 2px solid #CCC;
	margin-left: 50px;
}

.portlet-calendar .day-grid .business-hour {
	background: #FEFEFE;
}

.portlet-calendar .day-grid .night-hour {
	background: #EFEFEF;
}

.portlet-calendar .day-grid .hour {
	border-bottom: 1px solid #CCC;
	height: 24px;
}

.portlet-calendar .day-grid .hour.all-day {
	border-width: 0;
	height: auto;
	min-height: 24px;
}

.portlet-calendar .day-grid .hour-content {
	color: #777;
	display: block;
	font-size: .8em;
	font-weight: bold;
	left: -50px;
	position: absolute;
	text-align: right;
	width: 45px;
}

.portlet-calendar .day-grid .half-hour {
	border-bottom: 2px solid #CCC;
	height: 23px;
}

.portlet-calendar .day-grid .event-box {
	background: #F0F5F7;
	border: 2px solid #828F95;
	padding: 5px;
}

.portlet-calendar .day-grid .event-description {
	border-top: 1px solid #AEB8BC;
	padding-top: .5em;
}

.portlet-calendar .detail-column-last {
	background-color: #D7F1FF;
	overflow: visible;
}

.portlet-calendar .detail-column-last .detail-column-content {
	border: 1px solid #88C5D9;
	padding: .7em;
}

.portlet-calendar .event-duration-hour {
	float: left;
}

.portlet-calendar .folder-icon {
	margin-bottom: 2em;
	overflow: hidden;
	text-align: center;
}

.portlet-calendar h3.event-title {
	border-bottom: 1px solid #000;
	font-size: 14px;
	font-weight: bold;
	margin-top: 0;
}

.portlet-calendar .property-list {
	margin-left: 0;
	margin-top: 0;
	overflow: hidden;
	padding: 0;
}

.portlet-calendar .property-list dd {
	float: left;
	line-height: 1.5;
	margin: 0;
	padding-left: 5px;
}

.portlet-calendar .property-list dd img {
	vertical-align: middle;
}

.portlet-calendar .property-list dt {
	clear: left;
	font-weight: bold;
	min-width: 5em;
}

.portlet-calendar .reminders {
	clear: both;
}

.portlet-calendar .calendar-event-details .aui-field-wrapper-content {
	margin: 0;
}

.portlet-calendar .calendar-event-details .lfr-panel-content {
	padding: 10px 15px;
}

.portlet-calendar #calendarCommentsPanelContainer {
	border-width: 0;
}